@model PruebaYeisonLlanes.Models.Operadores

@{
    ViewData["Title"] = "Eliminar Operador";
}

<h1>Eliminar Operador</h1>

<h3>Desea Eliminar el registro?</h3>
<div>
    <h4>Operadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrioridadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrioridadNavigation.IdPrioridades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUbicacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUbicacionNavigation.IdUbicacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOperador" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
